<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "bootcss", media: "all" %>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<div class='container'>
  <div class='col-md-12'>
    <h3><%= @name %> 你好, 感谢投递长沙蓝拓电子商务有限公司简历</h3>

    <p>
      邀请你完成 <%= link_to '笔试题', root_url, target: '_blank' %>.

      完成之后, 请将源代码打成 zip 包 email 给
      <%= mail_to 'wppurking@gmail.com', 'Wyatt', subject: '蓝拓笔试题 ' + Time.now.to_s(:db) %>,
      收到笔试题目后会在 24 小时内给与答复.
    </p>

    <hr>
    <p>
      <%= link_to '长沙蓝拓电子商务有限公司', 'http://company.zhaopin.com/CC515885126.htm', target: '_blank' %>
      是集产品开发和销售为一体的电子商务公司。公司以人为本，重视人才，发掘人才，培养人才，尊重人才，快乐地工作和开心地成长是公司的核心文化。同时公司为每位成员提供同行业具有竞争力的薪酬以及在公司的个人职业发展与良好的晋升机会。我们是一个成长中的公司，如你想获得机遇与挑战，新公司.新力量.请加入我们并一起携手共进！
    </p>
  </div>
</div>
</body>
</html>
