<!DOCTYPE html>
<html>
<head>
  <title>RedditExam</title>
  <%= stylesheet_link_tag "bootcss", media: "all" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#reddit-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to ' ', 'http://easya.cc', class: 'navbar-brand', id: 'logo' %>
    </div>

    <nav class="collapse navbar-collapse" id="reddit-navbar">
      <ul class="nav navbar-nav">
        <li class="<%= active 'welcome' %>"><a href='<%= root_path %>'>笔试题</a></li>
        <li class="<%= active 'reddit' %>"><a href='<%= example_path %>'>例子</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <%= yield %>
</div>

<div class='container'>
  <footer class='footer'>
    <div class='col-md-4 left'>
      <p>Copyright © 2013 长沙蓝拓电子商务有限公司</p>
    </div>
    <div class='col-md-4 middle'>
      <p><%= link_to 'GitHub.com', 'https://github.com/wppurking/reddit_exam' %></p>
    </div>
    <div class='col-md-4 right'>
      <p><a href="#">Back to top</a></p>
    </div>
  </footer>
</div>
</body>
</html>
